body {
    font-family: Tahoma;
    background-color: #1c1c1c;
    color: rgb(173, 44, 72);

}
header {
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 2.2rem;
   
 color: rgb(173, 44, 72);
    font-weight: 600;
    cursor: default;
}
.search {
    font-size: 1.5rem;
    border-radius: 10px;
}
#search-button {
    font-size: 1.5rem;
    padding: 2px;
    margin-left: 10px;
    color: rgb(173, 44, 72);
   cursor: pointer;
   transform: background-color 5s,
   color 5s;
   background-color: #202020;
   border: 2px solid  rgb(173, 44, 72);
   border-radius: 10px;
}
#search-button:hover{
    background-color: #202020;
    color: rgb(0, 0, 255);
}
#search-button:active{
    opacity: 0.9;
}

.navbar a {
    font-size: 1.7rem;
    margin-left: 4rem;
    color: rgb(173, 44, 72);
    text-decoration: none;
}

.navbar a:hover{
    color: rgb(49, 49, 143);
}
#box {
    
    align-items: center;
    
    justify-content: center;
}
#box form {
    align-items: center;
    place-content: center;
    z-index: 0;
    width: 100%;
    display: grid;
    border: 2px solid  rgb(173, 44, 72);
    background-color: black;
    min-height: 90vh;
    border-radius: 10px;
    margin-left: 1px;
}
.contact-button {
    font-size: 20px;
    border: 2px solid  rgb(173, 44, 72);
    background-color: #0000;
    color:rgb(173, 44, 72) ;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: opacity;
}
.contact-button:hover {
    color: blue;
    border: 2px solid blue;
}
.contact-button:active {
    opacity: 0.8;
}
.italian {
    display: inline-block;
}
.black-shoe {
    display: inline-block;
}
.top-deal {
    display: inline-block;
}
.whoo {
    display: inline-block;
    width: 300px;
    margin-left: 70px;
}
.nice {
    display: inline-block;
}
.new {
    display: inline-block;
}
.suit-your-leg {
    display: inline-block;
}
.good-shoe {
    display: inline-block;
}
.swag {
    display: inline-block;
}
.love-you {
    display: inline-block;
}
.run-up {
    display: inline-block;
}
.jogging {
    display: inline-block;
}
.beautiful {
    display: inline-block;
}
.cat {
    display: inline-block;
}
.brown {
    display: inline-block;
}
.snow {
    display: inline-block;
}
.buy-now {
    background-color: #0000;
    color: rgb(173, 44, 72);
    margin-left: 100px;
    font-size: 20px;
    border: 2px solid rgb(173, 44, 72);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s,
    color 2s;
}
.buy-now:hover {
    background-color: rgb(173, 44, 72);
    color: blue;
}
.buy-now:active {
    opacity: 0.7;
}
.container2 {
    background-color: black;
    border: 2px solid rgb(173, 44, 72);
    padding-top: 20px;
    padding-bottom: 10;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
@media screen and (max-width:520px) {
    body {
        font-family: Tahoma;
        background-color: #1c1c1c;
        color: rgb(173, 44, 72);
    }
    header {
        padding: 0px;
        justify-content: space-between;
        display: flex;
       align-items: center;
    }
    h1 {
        font-size: 1rem;
         text-align: center;
        color: rgb(173, 44, 72);
        font-weight: 600;
        cursor: default;
    }
    .search {
        font-size: 0.8rem;
        border-radius: 10px;
    }
    #search-button {
        font-size: 1rem;
        padding: 2px;
        margin-left: 10px;
        color: rgb(173, 44, 72);
       cursor: pointer;
       transform: background-color 5s,
       color 5s;
       background-color: #202020;
       border: 2px solid  rgb(173, 44, 72);
       border-radius: 10px;
    }
    #search-button:hover{
        background-color: #202020;
        color: rgb(0, 0, 255);
    }
    #search-button:active{
        opacity: 0.9;
    }
    .navbar a {
        font-size: 1rem;
        margin-left: 1rem;
        color: rgb(173, 44, 72);
        text-decoration: none;
    }
    
    .navbar a:hover{
        color: rgb(49, 49, 143);
    }
}